<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<title>サイトの名前</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta http-equiv="Content-Style-Type" content="text/css">
<link href="text.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- #page ページの整形：中央寄せとか -->
<div id="page">
	<!-- #header 画面上部のヘッド部分 -->
	<div id="header">
		<div id="header_title"> <img src="./img/title.gif" width="240" height="35" alt="株式会社 海山商事"> </div>
		<div id="headinfo">&nbsp;</div>
		<div id="headerimg">
			<p id="msg">私達にしか、できないことがある。</p>
		</div>
	</div>
	<!-- #menu トップメニュー -->
	<div id="menu">
		<ul class="menu_f01">
			<li><a href="./news/index.htm" class="nowthis">Home</a></li>
			<li><a href="./news/index.htm">お知らせ</a></li>
			<li><a href="./product/index.htm">取扱い商品</a></li>
			<li><a href="./service/index.htm">サービス</a></li>
			<li><a href="./recruit/index.htm">採用情報</a></li>
			<li><a href="./profile/index.htm">会社概要</a></li>
		</ul>
	</div>
	<div id="contents">
		<div id="menuL">
			<!-- #menuL 左サイドメニュー -->
			<div class="subinfo">
				<p class="label">サブカテゴリ</p>
				<ul>
					<li><a href="#">○○についてのお知らせ</a></li>
					<li><a href="#">メンテナンス情報及び、経過についてのお知らせ</a></li>
					<li><a href="#">○○年度の</a></li>
				</ul>
			</div>
			<div class="subinfo">
				<p class="label">サブカテゴリ</p>
				<ul>
					<li><a href="#">○○についてのお知らせ</a></li>
					<li><a href="#">メンテナンス情報及び、経過についてのお知らせ</a></li>
					<li><a href="#">○○年度の</a></li>
				</ul>
			</div>
			<div class="menuInfo">
				<p>○○製品について<br>
					この度、株式会社△との技術提携により、○○に新しい製品が加わりました。</p>
				<div class="banner"><img src="img/btn_toiawase.png" alt="お問い合わせ" width="220" height="50"></div>
				<div class="banner"><img src="img/btn_map.png" alt="アクセスマップ" width="220" height="50"></div>
				<p>▲問い合わせ・アクセスマップ画像。新しく画像を作る場合は、imgフォルダ内のbtn_base_画像をご利用ください。</p>
			</div>
		</div>
		<!-- #main 本文スペース -->
		<div id="main">
			<h1>海山商事は環境に優しい商品を提供します</h1>
			<div class="contentswrap">
				<div id="newsbox">
					<dl>
						<dt>2008/06/13</dt>
						<dd class="link"><a href="./news/080529.htm">海千シリーズに省電力タイプを追加</a></dd>
						<dt>2008/06/13</dt>
						<dd class="link"><a href="./news/080529.htm">海千シリーズの不具合に関するご報告</a></dd>
						<dt>2008/06/13</dt>
						<dd class="link"><a href="./news/080529.htm">新製品に関するお知らせ</a></dd>
						<dt>2008/06/13</dt>
						<dd class="link"><a href="./news/080529.htm">海千シリーズに省電力タイプを追加</a></dd>
						<dt>2008/06/13</dt>
						<dd class="link"><a href="./news/080529.htm">海千シリーズの不具合に関するご報告</a></dd>
						<dt>2008/06/13</dt>
						<dd class="link"><a href="./news/080529.htm">新製品に関するお知らせ</a></dd>
						<dt>2008/06/13</dt>
						<dd class="link"><a href="./news/080529.htm">海千シリーズに省電力タイプを追加</a></dd>
						<dt>2008/06/13</dt>
						<dd class="link"><a href="./news/080529.htm">海千シリーズの不具合に関するご報告</a></dd>
						<dt>2008/06/13</dt>
						<dd class="link"><a href="./news/080529.htm">新製品に関するお知らせ</a></dd>
					</dl>
					<ul class="toInfo">
						<li><a href="./news/index.htm">過去のお知らせ</a></li>
					</ul>
				</div>
				<!-- ListPattern01 ここから -->
				<div class="itemList">
					<div class="box" style="float:left ">
						<h2>自家発電機器</h2>
						<img src="product/img/dummy7575.gif" alt="サンプルイメージ" width="75" height="75" class="eyeCaImg">
						<ul>
							<li><a href="./product/080529.htm">Aシリーズ</a></li>
							<li><a href="./product/080529.htm">Bシリーズ</a></li>
							<li><a href="./product/080529.htm">Cシリーズ</a></li>
							<li><a href="./product/080529.htm">Dシリーズ</a></li>
							<li><a href="./product/080529.htm">Eシリーズ</a></li>
							<li><a href="./product/080529.htm">Fシリーズ</a></li>
						</ul>
					</div>
					<div class="box" style="float:right ">
						<h2>太陽発電機器</h2>
						<img src="product/img/dummy7575.gif" alt="サンプルイメージ" width="75" height="75" class="eyeCaImg">
						<ul>
							<li><a href="./product/080529.htm">Aシリーズ</a></li>
							<li><a href="./product/080529.htm">Bシリーズ</a></li>
							<li><a href="./product/080529.htm">Cシリーズ</a></li>
							<li><a href="./product/080529.htm">Dシリーズ</a></li>
							<li><a href="./product/080529.htm">Eシリーズ</a></li>
							<li><a href="./product/080529.htm">Fシリーズ</a></li>
						</ul>
					</div>
				</div>
				<div class="itemList">
					<div class="box" style="float:left ">
						<h2>自家発電機器</h2>
						<img src="product/img/dummy7575.gif" alt="サンプルイメージ" width="75" height="75" class="eyeCaImg">
						<ul>
							<li><a href="./product/080529.htm">Aシリーズ</a></li>
							<li><a href="./product/080529.htm">Bシリーズ</a></li>
							<li><a href="./product/080529.htm">Cシリーズ</a></li>
							<li><a href="./product/080529.htm">Dシリーズ</a></li>
							<li><a href="./product/080529.htm">Eシリーズ</a></li>
							<li><a href="./product/080529.htm">Fシリーズ</a></li>
						</ul>
					</div>
					<div class="box" style="float:right ">
						<h2>太陽発電機器</h2>
						<img src="product/img/dummy7575.gif" alt="サンプルイメージ" width="75" height="75" class="eyeCaImg">
						<ul>
							<li><a href="./product/080529.htm">Aシリーズ</a></li>
							<li><a href="./product/080529.htm">Bシリーズ</a></li>
							<li><a href="./product/080529.htm">Cシリーズ</a></li>
							<li><a href="./product/080529.htm">Dシリーズ</a></li>
							<li><a href="./product/080529.htm">Eシリーズ</a></li>
							<li><a href="./product/080529.htm">Fシリーズ</a></li>
						</ul>
					</div>
				</div>
				<ul class="toInfo">
					<li><a href="#">商品に関するお問い合わせ</a></li>
				</ul>
				<!-- ListPattern01 ここまで -->
				<h2>テンプレートの利用について</h2>
				<ul>
					<li>HTML・CSSの基本を理解している人向けです。</li>
					<li>デザイン・レイアウトはCSSファイルにまとめて記述してあります。</li>
					<li>個人サイト・商用サイト・企業サイトでご利用いただけます。</li>
					<li>教育機関での教材利用も可です。連絡の必要もございません。</li>
					<li>このテンプレートには最下部にCSSデザインテンプレートへの著作リンクがあります。</li>
					<li>このテンプレートを利用し、第三者のサイトを制作することで金銭を得る行為全てを禁じます。制作代行で使っちゃダメよ。</li>
					<li>このテンプレートを利用することで被った損害又は損失等について、当サイト・配布者は一切の責任を負いません。</li>
				</ul>
				<h2>HTMLの構成</h2>
				<p>ページの基本構成は次のようになっています。<br>
					文章やHTMLを変更する際は、そのHTMLファイルの中で&lt;div id=&quot;ID名&quot;&gt;となっている箇所を探して修正してください。</p>
				<img src="img/abouthtml.png" width="450" height="535" class="img">
				<h2>テンプレートの修正について</h2>
				<h3>上部メニューについて</h3>
				<p>上部メニューでは、現在のカテゴリの位置をわかりやすくするために、メニューボタンの一部の色が目立つよう設定されています。これは、メニューボタンのli要素に class=&quot;nowthis&quot;を指定することで設定できます。新しくカテゴリを作る際は、 class=&quot;nowthis&quot;の指定を忘れませんように。</p>
				<h3>レイアウトの崩れについて</h3>
				<p>text.css内で<strong>横幅：widthや余白:paddingなどを変更すると、レイアウトが大きく崩れる</strong>場合があります。CSSのテンプレートを利用する場合は、幅指定などを変更しないほうが無難です。</p>
				<p><strong>他サイトからHTMLやCSSの一部をコピーして利用すると、同様にレイアウトが崩れる</strong>場合があります。コピーしてきたHTMLとCSSのID名・クラス名が被っている可能性がありますので変更してください。HTML要素へのCSS記述が被っていると、CSS自体を修正するしかありません。これもしないほうが無難です。</p>
				<p>各ブラウザでレイアウトが崩れないように気をつけて作っていますが、古るすぎるブラウザ・マイナーなブラウザなどでは、同じように表示されないことはあります。</p>
				<h2>作業手順</h2>
				<p>次のような手順でテンプレートを修正してホームページを作ると無駄がありません。</p>
				<ol>
					<li>失敗しても作り直しができるよう、ダウンロードしたテンプレートをコピーして、バックアップをとる。</li>
					<li>サイト名・社名画像をいえれかえる。画像を作らない場合は、そのまま文字を入力（画面左上）。</li>
					<li>&lt;head&gt;&lt;/head&gt;内の&lt;title&gt;やキーワードなどを書き換える。</li>
					<li>作成するカテゴリ（取り扱い商品や会社情報など）を決めて、それに合わせてフォルダ名(puroductやnewsなど)を変更する。</li>
					<li>カテゴリに合わせて、上部メニューを変更する。</li>
					<li>著作権表示Copyright (c) 20XX yournameを社名に合わせて書き換える（画面最下部）。</li>
					<li>各ページで１～6を繰り返す。</li>
				</ol>
				<div id="subnavi"> </div>
			</div>
		</div>
		<div id="underNavi">&nbsp;</div>
	</div>
	<!-- #footer　フッタースペース -->
	<div id="footer">
		<p>Copyright (c) 20XX yourname</p>
	</div>
	<div id="templatelink"> HTML &amp; CSS template by <a href="http://www.shoshinsha.com/hp/template/">CSSデザインテンプレート</a> </div>
</div>
</body>
</html>
